
.navcon-title-bar {
    background-color: #2b3643;
    padding: 0 20px;
    border-bottom: 2px solid black;
}

.navcon-logo-area {
    /*text-align: center;*/
}

.navcon-title-area {
    display: inline-block;
}



.navcon-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #999;
}

.navcon-logo-title {
    color: white;
    margin-top: 14px;
    font-size: 22px;
}

.navcon-logo-subtitle {
    font-size: 13px;
    margin-top: -13px;
}

@media screen and (max-width: 430px) {
    .navcon-icon {
        display: none;
    }

    .navcon-logo-title {
        font-size: 18px;
    }
}

.navcon-right-side-controls {
    line-height: 60px;
}

    .navcon-right-side-controls > div {
        text-align: center;
    }

@media screen and (min-width: 768px) {
    .navcon-right-side-controls > div {
        text-align: right;
    }

    .navcon-logo-area {
        text-align: left;
    }
}

.navcon-collapsed-menu {
    display: inline-block;
    height: 100%;
}

.navcon-nav-button {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 0;
    font-size: 26px;
    color: #777;
}

.navcon-view {
    margin-left: 200px;
    padding: 2px;
    background-color: #ccc;
    min-height: 100vh;
    overflow: auto;
    padding-top: 48px;
}

.navcon-view-full-width {
    margin-left: 0;
}


.navcon-user-profile {
    background-color: #333;
    color: white;
    width: 200px;
    min-height: 120px;
    padding-top: 10px;
}

    .navcon-user-profile > div {
        display: inline-block;
        padding-top: 10px;
        margin-left: 5px;
    }

        .navcon-user-profile > div > p {
            margin-bottom: 2px;
        }

        .navcon-user-profile > div > button {
            margin-top: 8px;
        }

    .navcon-user-profile img {
        float: left;
        margin: 12px;
        width: 80px;
        height: 80px;
    }

.navcon-user-profile-small {
    color: #333;
    padding-top: 4px;
    line-height: 0px;
}



    .navcon-user-profile-small > li > ul {
        right: 0px;
        left: auto;
        margin-top: 3px;
    }

    .navcon-user-profile-small > span {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navcon-user-profile-small img {
        width: 40px;
        height: 40px;
    }


.navcon-side-top-menu > ul > li > a:hover {
    background-color: #364150;
    height: 68px;
    margin-top: -10px;
}

.navcon-side-top-menu > ul > li.dropdown-user .dropdown-menu > li > a i {
    width: 15px;
    display: inline-block;
    margin-right: 9px;
}

.navcon-side-top-menu > ul > li > ul.dropdown-menu {
    width: 195px;
    margin-top: -6px;
}

.navcon-side-top-menu {
    margin: 0px;
    padding: 8px 2px;
    height: 57px;
    display: inline-block;
    right: 0px;
    left: auto;
    margin-top: 0px;
}

    .navcon-side-top-menu > ul > li.dropdown {
        margin: 0px;
        padding: 8px 2px;
        display: inline-block;
    }

        .navcon-side-top-menu > ul > li.dropdown:hower {
            margin-top: 0px;
        }

    .navcon-side-top-menu > ul > li.open > a, .navcon-side-top-menu > ul > li.open > a:hover, .navcon-side-top-menu > ul > li.open > a:focus {
        background-color: #364150;
        border-color: #337ab7;
    }

    .navcon-side-top-menu > ul > li.dropdown > .dropdown-toggle > .badge {
        font-family: "Open Sans", sans-serif;
        position: absolute;
        top: 7px;
        right: 26px;
        font-weight: 300;
        padding: 3px 6px;
    }

    .navcon-side-top-menu > ul > li.dropdown .dropdown-toggle .badge.badge-default {
        background-color: #1caf9a;
        color: #ffffff;
    }

        .navcon-side-top-menu > ul > li.dropdown .dropdown-toggle .badge.badge-default:hover {
            margin-top: 9px;
        }

    .navcon-side-top-menu > ul > li.dropdown > .dropdown-toggle > i {
        font-size: 17px;
    }



    .navcon-side-top-menu > ul > li > a:hover > i, .navcon-side-top-menu > ul > li > a:hover > .badge {
        margin-top: 9px;
    }

    .navcon-side-top-menu > ul > li > a:hover > img {
        margin-top: 0px;
    }

    .navcon-side-top-menu > ul > li > a > img {
        margin-top: -8px;
    }

    .navcon-side-top-menu > ul > li > a {
        margin-top: 0px;
        top: -7px;
    }

    .navcon-side-top-menu > ul > li.dropdown-toggle, .dropdown.open > .dropdown-toggle {
        height: 57px;
        margin-top: -10px;
    }
