<navcon-form navcon-data="vm" field-data="deleteRemarksSubmitFields" footer='' type="deleteRemarks"
             form-manage="formManage" read-only="readonly" ng-if="deleteRemarksSubmitFields != undefined">
    <div class="form-group row" style="padding:5px;">
        <navcon-field field-key="Remarks" label-class="col-md-2" field-class="col-md-8"></navcon-field>
    </div>

    <div class="form-grow row">
        <navcon-field field-key="ITARWarning" label-class="" field-class="col-md-push-2 col-md-8 IncreaseWidth"></navcon-field>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="row text-center">
        <navcon-button icon="fa fa-thumbs-o-up" class="btn btn-success no-margin-right" text="Yes . I am sure"
                       ng-disabled="!itarwarning" ng-click="save('delete',deleteRemarksSubmitFields)"></navcon-button>
        <navcon-button icon="fa fa-stop" class="btn btn-info btn-cancel no-margin-right" text="Cancel"
                       ng-click="cancel('DeleteRemarks')"></navcon-button>
    </div>

</navcon-form>