
.navcon-menu-area {
    position: relative;
    background-color: #364150;
    color: #ccc;
    padding-left: 0;
}

.navcon-menu-area-vertical {
    float: left;
    width: 200px;
    min-height: 100vh;
    padding-top: 30px;
}

.navcon-menu-area-horizontal {
    width: 100%;
    height: 40px;
}

.navcon-menu-area ul {
    padding-left: 0;
}

.navcon-menu-area .btn:hover {
    color: #ccc;
}

.navcon-menu {
    list-style-type: none;
    vertical-align: top;
}

.navcon-menu ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.navcon-menu li {
    line-height: 3em;
    cursor: pointer;
}

.navcon-menu li div {
    display: inline-block;
    width: 90%;
    padding-left: 16px;
    color:#b4bcc8;
}

.navcon-selectable-item:hover {
    background-color:#2b3643
}

.navcon-menu-icon {
    margin-right: 10px;
}

.navcon-menu-active-indicator {
    float: right;
    color: #ddd;
    margin-right: 0;
    margin-top: 8px;
}

.navcon-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navcon-group-indicator-left {
    float: right;
    color: #ddd;
    margin-right: 2px;
    margin-top: 15px;
}

.navcon-subitem-section {
    padding-left: 16px;
}

.navcon-menu-layout-button {
    margin: 12px;
    padding: 2px 8px;
    color: #bbb;
    border: 1px solid #999;
}

.navcon-layout-button-horizontal {
    position: absolute;
    top: -6px;
    right: 10px;
}

.navcon-item-horizontal {
    display: inline-block;
    width: 165px !important;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.5em !important;
}

.navcon-popup-menu {
    position: absolute;
    z-index: 1000;
    background-color: #333;
    width: 200px;
    padding-left: 0;
}

.navcon-fade-in-animation {
    -moz-transition: linear all 0.5s;
    -o-transition: linear all 0.5s;
    -webkit-transition: linear all 0.5s;
    transition: linear all 0.5s;
}
.navcon-fade-in-animation.ng-hide {
    opacity: 0;
}

navcon-menu-item li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    line-height: 1.8em !important; 
}

navcon-menu-item li > a {
    text-shadow: none;
    color: #5b9bd1;
}


navcon-menu-item li:hover > a{
    background: #2C3542;
    color: #b4bcc8;
}

navcon-menu-item > li:hover > a, navcon-menu-item > li.open > a {
  background: #2C3542;
  color: #b4bcc8;
}

navcon-menu-item > li:hover{
    background: #2C3542;
}

navcon-menu-item  li > a {
    border-top: 1px solid #3d4957;
    color: #b4bcc8;
    
}

navcon-menu-item li > a {
    display: block;
    position: relative;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

navcon-menu-item li > a:visited {
    color: pink;
}
