#reportpreview, #reportgenerate {
    padding-top: 10px;
}

    #reportpreview .panel-heading {
        cursor: pointer;
    }

    #reportpreview .panel-title:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: grey; /* adjust as needed */
    }

    #reportpreview .panel-title.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }

    #reportpreview .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: grey; /* adjust as needed */
    }

    #reportpreview .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }

    /*#reportpreview .panel-heading .accordion-toggle.collapsed {
        content: "\e080";
    }*/

.report-list ul {
    top: -500px;
    left: -100px;
}

    .report-list ul li {
        border: 1px solid #CCC;
        padding: 10px;
        list-style: none;
        cursor: pointer;
        margin-left: -40px !important;
        margin-bottom: -1px !important;
    }

.padding0 {
    padding: 0px !important;
    margin-bottom: -10px !important;
}

.display-result {
    padding-top: 15px;
}

.highlight {
    background-color: #CCC;
    box-shadow: none;
}

.star {
    font-size: 40px;
    color: gold;
}
