<div>
    <form name="form">
        <div ng-transclude="" ng-class="readOnly === true ? 'disable-control' : ''">

        </div>
    </form>

    <div class="text-right" ng-hide="footer === ''">
        <span id="Approval" class="margin-right-10" ng-show="footer.indexOf('A') !== -1" ng-hide="items.mode !== 'Print' || approvalKey === ''">
            <script type="html/template" id="Approval">
                <navcon-approvaldetail navcon-data="navconData" page="approvalPage" page-config="approvalConfig" approval-id="approvalId"
                                       modal-id="modalId" approval-title="approvalTitle" item-id="itemId" source="source" class="approve"></navcon-approvaldetail>
            </script>
        </span>
        <button ng-show="footer.indexOf('S') !== -1" type="button" ng-click="save(type)" class="btn default box save">{{items.mode || 'Save'}}</button>
        <button ng-show="footer.indexOf('N') !== -1" type="button" ng-click="save(type, 'send')" class="btn default box send">Send</button>
        <button ng-show="footer.indexOf('O') !== -1" type="button" ng-click="navconData.ok(type)" class="btn default box">{{items.mode || 'Ok'}}</button>
        <button ng-show="footer.indexOf('C') !== -1" type="button" ng-click="cancel(type)" class="btn default box">Cancel</button>
    </div>
</div>