<navcon-portlet title="{{title}}" navcon-data="this" class="" icon="" type="myRiskMatrix_{{widgetId}}" tools-disp="" show-caption="true">
    <!--<div class="row" ng-hide="reportList.length <= 1 || !options.filter">
        <div class="col-md-push-6 col-md-6" style="padding-right: 25px;">
            <div id="reportrange_{{widgetId}}" class="pull-right" style="background: #fff; cursor: pointer; padding: 4px 8px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar navcon-dashboard-icon" style="color: green;"></i>
                <span ng-model="chartFilterData"></span>&nbsp;<b class="caret"></b>
            </div>
        </div>
    </div>-->
    <div class="form-grow row" ng-if="showRiskMatrixTable">
        <div class="col-md-12" style="padding: 5px;">
            <table class="col-md-12">
                <tr>
                    <th style="border: none;"></th>
                    <th colspan="{{SeverityTable.length}}" style="text-align:center;background-color:#243649;color:#E7E7E7">Severity</th>
                </tr>
                <tr>
                    <th style="text-align:center;background-color:#243649;color:#E7E7E7">Probability</th>
                    <th style="text-align:center" ng-repeat="item in SeverityTable track by $index">{{item.severity}}</th>
                </tr>
                <tr ng-repeat="item in riskMatrixData track by $index">
                    <th style="text-align:center">{{item.probability}}</th>
                    <!--<td ng-repeat="itemData in item.list track by $index" ng-show="!readOnly">
                        <select ng-model="riskC" ng-change="changeRiskClass(item,itemData)">
                            <option value="{{riskC}}" ng-selected="itemData.level===riskC.Class" ng-repeat="riskC in riskClasses track by $index">{{riskC.Class}}</option>
                        </select>
                    </td>-->
                    <td ng-repeat="itemData in item.list track by $index" ng-show="readOnly" ng-attr-style="text-align:center;font-weight:bolder;color:{{itemData.color}};background:{{itemData.background}}">
                        <label title="{{itemData.severity}}" ng-attr-style="text-align:center;font-weight:bolder;color:{{itemData.color}};">{{itemData.level}}</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</navcon-portlet>