.navcon-chart-widget {
    height: 100%;
    width: 100%;
    font-size: 16px;
}


.navcon-chart-heading {
    background-color: #6ebebd;
    color: white;
    height: 40px;
    padding-top: 3px;
    font-size: 15px;
    line-height: 32px;
    padding-left: 5px;
}

.navcon-chart-body {
    display: table;
    background-color: white;
    color: darkblue;
    width: 100%;
    height: 100%;
}

